body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px);
  }
  
  .conteudo {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .conversor {
    margin: 20px;
    padding-bottom: 20px;
    outline: 1px solid black;
    border: 20px;
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    

  }
  
  input[type="text"],
  button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }